# Data & output
*.cache.*
*.csv
*.parquet

# Distribution / packaging
*.egg-info/
build/
dist/

# PyCharm
.idea/

# Python bytecode
__pycache__/
*.pyc

# Mac
.DS_Store

# Virtual environments
.env/
.venv/

# Terraform state
*.tfstate
*.tfstate.*
crash.log

# Terraform variables
*.tfvars
*.tfvars.json

# Terraform plan output
*.tfplan

# Local .terraform directories
.terraform/
.terraform.lock.hcl